body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
    max-height: 1000px;
    line-height: 1.5;
    background-color: lightgray;
}
.all-inclusive {
    padding: 28px 50px;
    background-color: white;
}
a {
    text-decoration: none;
    color: dimgray;
}
p {
	margin-bottom: 12px;
}
h1, h2, h3 {
	font-weight: 400;
}
h3 {
    font-size: 24px;
    margin-bottom: 0;
}
h1 {
	font-size: 40px;
	margin-bottom: 0;
}
h2 {
	font-size: 32px;
	border-bottom: solid 1px gray;
	margin-bottom: 10px;
}
.header {
	margin-bottom: 32px;
	text-align: center;
}
.footer {
	text-align: center;
    
}
